:root {
  --color-body-text: #1d1d1d;
  --color-body: #ffffff;
  --color-bg: #ffffff;
  --font-size-heading-large: 2.125rem;
  --font-size-heading-medium: 1.875rem;
  --font-size-heading-1: 1.75rem;
  --font-size-heading-2: 1.625rem;
  --font-size-heading-3: 1.5rem;
  --font-size-heading-4: 1.25rem;
  --font-size-heading-5: 1.125rem;
  --font-size-heading-6: 1.125rem;
  --font-size-body-larger: 1.375rem;
  --font-size-body-large: 1.25rem;
  --font-size-body-medium: 1.125rem;
  --font-size-body: 1rem;
  --font-size-body-small: .9375rem;
  --font-size-body-smaller: .875rem;
  --font-size-body-smallest: .8125rem;
  --font-size-body-tiny: .75rem;
  --font-size-button-small: .875rem;
  --font-size-button-medium: 1rem;
  --font-size-button-large: 1.125rem;
  --font-size-button-x-large: 1.3125rem;
  --font-size-menu-large: 1.0625rem;
  --font-size-menu: 1rem;
  --font-size-input: 1rem;
  --font-size-section-heading: 1.25rem;
  --font-size-menu-body-medium: 1.125rem;
  --font-size-menu-body-small: .9375rem;
  --font-size-heading-body-small: .9375rem;
  --font-size-heading-body-smaller: .875rem;
  --font-size-heading-slideshow: 1.9921875rem;
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body{
  font-family: var(--font-nunito-sans), sans-serif;
  font-style: normal;
  color: #1d1d1d;
  background-color: #fff;

}

html,
body {
  overflow-x: hidden;
}

.container{
  width: 1536px;
  margin:auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


@media (max-width: 1536px) {
  .container{
      width: 1366px;
  }
  
}

@media (max-width: 1366) {
  .container{
      width: 1280px;
  }
  
}

@media (max-width: 1280px) {
  .container{
      width: 1024px;
      padding-left: 20px;
      padding-right: 20px;
  }
  
}
@media (max-width: 1024px) {
  .container{
      width: 768px;
  }
  
}

@media (max-width: 768px) {
  .container{
      width: 640px;
  }
  
}

@media (max-width: 640px) {
  .container{
      width: 475px;
  }
  
}
@media (max-width: 475px) {
  .container{
      width: 380px;
  }
  
}