
.mordexBannerContainer{
  margin-top: 70px;
  width: 100vw;
  height: 600px;
  position: relative;
}

.mordexBanner {
  object-fit: cover;
}

.mainContent{
  display:block;
}

.links{
  margin-top: 30px;
  display: flex;
  width: 100vw;
  margin-left: 375px;
}

.linksContainer{
  height: 150px;
  width: 200px;
  margin-right: 120px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.linksClickable{
  z-index: 100;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.imgContainer{
  z-index: 99;
  width: 50px;
  height: 50px;
  position: relative;
}

.img{
  filter: invert(50%) sepia(70%) saturate(600%) hue-rotate(160deg) brightness(60%) contrast(100%);
  object-fit: cover;
}

.linksTitle{
  font-size: var(--font-size-heading-5);
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0em;
}

.linksSubTitle{
  font-size: var(--font-size-body);
}


.homeSectionTitle{
    color: #1d1d1d;
    text-align: center;
    margin-bottom: 25px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 800;
    text-transform: none;
    font-size: var(--font-size-section-heading);
    letter-spacing: 0em;
  }

.blogPostsContainer{
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  margin-left: 280px;
  margin-right: 280px;
}

.blogPost{
  border: 1px solid rgba(128, 128, 128, .16);
  box-shadow: 0 1px 4px #8080801c;
  width: 435px;
  height: 550px;
  text-align: center;
}

.blogImgContainer{
  height: 250px;
  position: relative;
}

.blogImg{
  object-fit: cover;
}

.blogTitle{
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  text-transform: none;
  font-size: var(--font-size-section-heading);
  letter-spacing: 0em;
}

.blogText{
  text-align: center;
  margin: 0 auto;
  max-width: 95%;
  line-height: 1.5;
  padding: 0 10px;
  margin-bottom: 1rem;
}


.arrowRedirect{
  line-height: 1;
  color: #e87714;
}

.seeMore{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e87714;
  margin-bottom: 50px;
}