.container{
    width: 100vw;
    height: 500px;
    background-color: rgb(221, 221, 221);
}

.content{
    padding-top: 70px;
    margin-left: 270px;
    margin-right: 270px;
}


.titleContainer{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    
}
.title{
    padding-right: 200px;
    font-size: 18px;
    font-weight: 800;
}


.socialsContainer{
    display: flex;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

    .container{
        margin-top: 10px;
    }
}

