.container{
    width: 100vw;
    height: 500px;
    background-color: rgb(221, 221, 221);
}


@media (max-width: 1024px) {

}

@media (max-width: 768px) {

    .container{
        margin-top: 10px;
    }
}

