.container{
    width: 100vw;
    height: 500px;
    background-color: rgb(221, 221, 221);
}

.content{
    margin-left: 250px;
    margin-right: 250px;
}

.titleContainer{
    display: flex;
}
.title{
    font-size: 15px;

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

    .container{
        margin-top: 10px;
    }
}

