.container{
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
}

.navigatorContaier{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1024px){
     .container {
        padding-right: 25px;
        padding-left: 25px;
        margin: 0;
     };   
}